<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Web Components Design System</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but webcomponents-design-system doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <!-- PRIMARY -->
    <h2>Botones: Primary</h2>
    <Wcds-button textvalue="Primary Default" formatvalue="primary" clickfunction="function(){ alert('click');}"></Wcds-button>
    <Wcds-button textvalue="Primary Default" formatvalue="primary" disabledvalue></Wcds-button>
    <Wcds-button textvalue="Primary Default" formatvalue="primary" loadingvalue></Wcds-button>
    <Wcds-button textvalue="Primary Default" formatvalue="primary" loadingvalue disabledvalue></Wcds-button>
    <Wcds-button textvalue="Primary Default" formatvalue="primary" variationvalue="small" loadingvalue></Wcds-button>
    <Wcds-button textvalue="Primary Default" formatvalue="primary" variationvalue="small" loadingvalue disabledvalue></Wcds-button>
    <Wcds-button textvalue="Primary small" formatvalue="primary" variationvalue="small"></Wcds-button>
    <Wcds-button textvalue="Primary small" formatvalue="primary" variationvalue="small" disabledvalue></Wcds-button>
    <!-- BLOCK -->
    <Wcds-button textvalue="Primary Default" formatvalue="primary" blockvalue ></Wcds-button>
    <Wcds-button textvalue="Primary Default" formatvalue="primary" blockvalue variationvalue="small" ></Wcds-button>
    <!-- SECONDARY -->
    <h2>Botones: Secondary</h2>
    <Wcds-button textvalue="Secundary white" formatvalue="secondary" variationvalue="white"></Wcds-button>
    <Wcds-button textvalue="Secundary ghost" formatvalue="secondary" variationvalue="ghost"></Wcds-button>
    <Wcds-button textvalue="Secundary disabled" formatvalue="secondary" variationvalue="white" disabledvalue></Wcds-button>
    <Wcds-button formatvalue="secondary" variationvalue="ghost" loadingvalue textvalue="Secondary ghost loading" ></Wcds-button>
    <Wcds-button formatvalue="secondary" variationvalue="ghost" loadingvalue disabledvalue textvalue="Secondary ghost loading disabled"></Wcds-button>
    <div style="background-color: #445FB0; padding: 5px 0;">
      <Wcds-button formatvalue="secondary" invertedvalue textvalue="Secondary invertido" ></Wcds-button>
      <Wcds-button formatvalue="secondary" invertedvalue disabledvalue textvalue="Secondary invertido disabled"></Wcds-button>
      <Wcds-button formatvalue="secondary" invertedvalue loadingvalue textvalue="Secondary invertido loading"></Wcds-button>
      <Wcds-button formatvalue="secondary" invertedvalue loadingvalue disabledvalue textvalue="Secondary invertido loading disabled"></Wcds-button>
    </div>
    <!-- CON ICONO -->
    <h2>Botones: Iconos (custom pendiente)</h2>
    <Wcds-button formatvalue="primary" variationvalue="icon" textvalue="Icon derecha" iconvalue="search" positionvalue="right" /></Wcds-button>
    <Wcds-button formatvalue="primary" variationvalue="icon" textvalue="Icon derecha" iconvalue="search" positionvalue="left" /></Wcds-button>
    <Wcds-button formatvalue="primary" variationvalue="icon" textvalue="Custom icon" positionvalue="left">
      <img class="iconoCustom" src="" />
    </Wcds-button>
    <Wcds-button formatvalue="primary" variationvalue="icon" textvalue="Custom icon" positionvalue="right">
      <img class="iconoCustom" src="" />
    </Wcds-button>
    <Wcds-button formatvalue="condensed" iconvalue="search" /></Wcds-button>
    <Wcds-button formatvalue="condensed" iconvalue="search" disabledvalue /></Wcds-button>
    <Wcds-button formatvalue="icon" iconvalue="alert" /></Wcds-button>
    <Wcds-button formatvalue="icon" iconvalue="alert" disabledvalue /></Wcds-button>
    <Wcds-button formatvalue="close" /></Wcds-button>
    <Wcds-button formatvalue="close" variationvalue="small" /></Wcds-button>
    <div style="background-color: #445FB0; padding: 5px 0;">
      <Wcds-button formatvalue="close" invertedvalue /></Wcds-button>
    </div>
    <Wcds-button formatvalue="back" /></Wcds-button>
    <Wcds-button formatvalue="next" /></Wcds-button>
    <Wcds-button formatvalue="back" textvalue="Back" /></Wcds-button>
    <Wcds-button formatvalue="next" textvalue="Next" /></Wcds-button>
    <Wcds-button formatvalue="back" textvalue="Back" position="bottom" /></Wcds-button>
    <Wcds-button formatvalue="next" textvalue="Next" position="bottom" /></Wcds-button>
    <Wcds-button formatvalue="back" disabledvalue /></Wcds-button>
    <Wcds-button formatvalue="back" textvalue="Back" disabledvalue /></Wcds-button>
    <h2>Botones: Con eventos</h2>
    <Wcds-button formatvalue="primary" textvalue="Primary default" onclickfn="alert();" /></Wcds-button>
    
    <!-- <Wcds-button formatvalue="primary" textvalue="Primary default" @click="clickButton2" :disabled="botonDisabled" /></Wcds-button>
    <Wcds-button formatvalue="secondary" variationvalue="white" textvalue="Primary default" @click="clickButton2" :disabled="botonDisabled" /></Wcds-button> -->
    <wcds-alert textvalue="Info Alert" typevalue="info" variationvalue="small"></wcds-alert>
    <wcds-alert textvalue="Success Alert" typevalue="success" variationvalue="small"></wcds-alert>
    <wcds-alert textvalue="Error Alert" typevalue="error" variationvalue="small"></wcds-alert>
    <wcds-alert textvalue="Warning Alert" typevalue="warning" variationvalue="small"></wcds-alert>
    <wcds-alert textvalue="White Alert" typevalue="white" variationvalue="small"></wcds-alert>

  </body>
</html>