  <template>
    <Page>
      <Wrapper>
        <cdsAlert 
          :show="show" 
          :type="type"
          :position="position"
          :text="text" 
          :showIcon="showIcon"
          :close="closeAlert"
          :actions="showActions ? actions : null"
        />
        <div>
          <h2>Alerts: default</h2>
          <cdsButton variation="small" text="Info Alert" @click="changeType('typevalue')" />
        </div>
      </Wrapper>
    </Page>
  </template>

  <script>
import { setTimeout } from 'timers';
    export default {
      data() {
        return {
          show: false,
          type: "info",
          position: "bottom",
          text: "Heads up! This alert needs your attention, but it’s not super important",
          showIcon: true,
          actions: [
            {
              text: "Call to action s1",
              click: () => alert("Action 1")
            }, {
              text: "Call to action 2",
              click: () => alert("Action 2")
            }
          ],
          showActions: false,
        }
      },
      props: {
        textvalue: String,
        typevalue: String,
        variationvalue : String,
        timevalue: {
          type: Number,
          default: 3000
        }
      },
      methods: {
        closeAlert() {
          this.show = !this.show;
        },
        changeType() {
          let type = this.$props.typevalue;
          this.show = true;
          this.type = type;
          if (type === "white") {
            this.text = this.textvalue;
          } else if (type === "success") {
            this.text = this.textvalue;
          } else if (type === "error") {
            this.text = this.textvalue;
          } else if (type === "warning") {
            this.text = this.textvalue;
          } else if (type === "info") {
            this.text = this.textvalue;
          }
          setTimeout(() => {
            this.show = !this.show;
          }, this.$props.timevalue);
        },
        changePosition(position) {
          this.show = true;
          this.position = position;
        },
        toggleIcon() {
          this.show = true;
          this.showIcon = !this.showIcon;
        },
        toggleActions() {
          this.show = true;
          this.showActions = !this.showActions;
        },
      }
    }
  </script>

  <style>
    .iconoCustom {
      width: 16px;
      height: 16px;
    }
  </style>
  
  