  <template>
    <Page>
      <Wrapper>
        <CdsButton 
          v-bind:format="formatvalue"
          v-bind:text="textvalue"
          @click="clickbutton"
          v-bind:variation="variationvalue"
          v-bind:icon="iconvalue" 
          v-bind:position="positionvalue"
          v-bind:class="classvalue" 
          v-bind:disabled="disabledvalue" 
          v-bind:block="blockvalue"
          v-bind:loading="loadingvalue"
          v-bind:inverted="invertedvalue"
        />
      </Wrapper>
    </Page>
  </template>

  <script>
    export default {
      data() {
       
      },
      props: {
        textvalue: String,
        formatvalue: String,
        variationvalue : String,       
        blockvalue: Boolean,
        loadingvalue: Boolean,
        invertedvalue: Boolean,
        disabledvalue: Boolean,
        iconvalue: String,
        positionvalue: String,
        classvalue: String,
        onclickfn: Function     
      },
      methods:{
        clickbutton(){
          //alert("Botón cliqueado");
          this.onclickfn;
        }
      }
    }
  </script>

  <style>
    .iconoCustom {
      width: 16px;
      height: 16px;
    }
  </style>
  
  